---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getArticles } from '@/lib/graphics';
import Main from '@/layouts/main.astro';
import Article from '@/layouts/article.astro';
import Logo from '../../../public/logo_liria_graphics.png';
import { twMerge } from 'tailwind-merge';

const articles = await getArticles();
---

<Main
    title="Liria Graphics"
    description="Liria Graphicsは、VRSNSアバター向けアセットを中心に販売するBOOTHショップです"
    image="/og/graphics.png"
    authors={['Liria', 'Liry24']}
>
    <Article>
        <div class="flex flex-col gap-8">
            <a
                tabindex="0"
                href="https://eicosapenta.booth.pm"
                target="_blank"
                class="group flex flex-col gap-4 focus-visible:outline-none"
            >
                <Image
                    src={Logo}
                    alt="Liria Graphics"
                    format="webp"
                    loading="eager"
                    class="max-w-sm md:max-w-lg pr-12 pt-6 md:pt-0 select-none"
                />

                <div class="flex gap-3 items-center">
                    <Icon
                        name="booth"
                        size={20}
                        class={twMerge(
                            'text-neutral-400 group-hover:text-[#fc4d50] group-focus-visible:text-[#fc4d50]',
                            'transition duration-200 ease-in-out'
                        )}
                    />
                    <span
                        class="text-neutral-400 group-hover:text-red-400 group-focus-visible:text-red-400 transition duration-200 ease-in-out"
                    >
                        booth.pm
                    </span>
                    <Icon
                        name="lucide:arrow-up-right"
                        size={22}
                        class={twMerge(
                            'text-red-400 opacity-0 translate-x-[-1rem]',
                            'group-hover:opacity-100 group-hover:translate-x-0',
                            'group-focus-visible:opacity-100 group-focus-visible:translate-x-0',
                            'transition duration-200 ease-in-out'
                        )}
                    />
                </div>
            </a>

            <div class="flex flex-col gap-3 text-neutral-200">
                <p>
                    {
                        'Liria Graphicsは、VRSNSアバター向けアセットを中心に販売するBOOTHショップです。'
                    }
                </p>
                <p>
                    {
                        'このドキュメントでは、各販売アイテムのドキュメントやライセンスについて掲載します。'
                    }
                </p>
            </div>

            <div class="flex flex-col gap-5">
                <h2 class="text-xl font-bold">アイテム一覧</h2>
                <div class="grid grid-cols-2 gap-5">
                    {
                        articles.contents.map((item) => (
                            <a
                                tabindex="0"
                                href={`/graphics/${item.id}`}
                                class={twMerge(
                                    'relative group rounded-lg gap-2 p-2 border-[3px] border-neutral-700 flex flex-col items-center',
                                    'hover:border-neutral-400 focus-visible:border-neutral-400 focus-visible:bg-neutral-800 focus-visible:outline-none',
                                    'transition-all duration-200 ease-in-out'
                                )}
                            >
                                <Icon
                                    name="lucide:arrow-right"
                                    size={24}
                                    class={twMerge(
                                        'absolute top-2 right-2 text-neutral-300 opacity-0 translate-x-[-1rem]',
                                        'group-hover:opacity-100 group-hover:translate-x-0',
                                        'group-focus-visible:opacity-100 group-focus-visible:translate-x-0',
                                        'transition-all duration-200 ease-in-out'
                                    )}
                                />
                                <Image
                                    src={item.thumbnail.url}
                                    alt={item.title.ja}
                                    width="192"
                                    height="192"
                                    format="webp"
                                    loading="lazy"
                                />
                                <h3 class="font-semibold text-neutral-400 group-hover:text-neutral-100 group-focus-visible:text-neutral-100 transition duration-200 ease-in-out">
                                    {item.title.ja}
                                </h3>
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </Article>
</Main>
