---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getSlugs, getArticles } from '@/lib/graphics';
import Main from '@/layouts/main.astro';
import Article from '@/layouts/article.astro';
import HTML from '@/components/html.vue';
import Table from '@/components/table.astro';

export async function getStaticPaths() {
    return await getSlugs();
}

const articles = await getArticles();
const article = articles.contents.find(
    (article) => article.id === Astro.params.slug
);
if (!article) return Astro.redirect('/404');

let details;

if (article.details)
    details = article.details.map((detail) => {
        const data = [
            { name: 'ポリゴン', value: detail.tris },
            { name: 'マテリアル', value: detail.materials },
            { name: 'テクスチャ', value: detail.textures },
            { name: 'ボーン', value: detail.bones },
        ];

        return {
            model: detail.model,
            detail: data.filter((detail) => detail.value),
            shapekeys: detail.shapekeys,
            notes: detail.notes,
        };
    });
---

<Main
    title={`${article.title.ja} | Liria Graphics`}
    description={article.description}
    image={`/og/graphics-${article.id}.png`}
    publishedTime={new Date(article.createdAt).toISOString()}
    modifiedTime={new Date(article.updatedAt).toISOString()}
    authors={['Liria', 'Liry24']}
    twitterCard="summary_large_image"
>
    <Article>
        <div class="gap-16 flex flex-col">
            <div class="gap-2 flex flex-col">
                <h1 class="text-3xl font-bold">{article.title.ja}</h1>
                <div class="gap-x-5 gap-y-1 flex flex-wrap">
                    {
                        article.notForSale && (
                            <div class="w-fit px-4 py-2 rounded-full leading-none bg-red-700/40 border border-red-400">
                                非売品
                            </div>
                        )
                    }
                    {
                        article.saledAt && (
                            <div class="gap-2 flex items-center">
                                <Icon
                                    name="booth"
                                    size={16}
                                    class="text-neutral-400"
                                />
                                <p class="text-neutral-400 leading-none">
                                    {new Date(article.saledAt).toLocaleString(
                                        'ja-JP',
                                        {
                                            year: 'numeric',
                                            month: '2-digit',
                                            day: '2-digit',
                                        }
                                    )}
                                </p>
                            </div>
                        )
                    }
                    <div class="gap-2 flex items-center">
                        <Icon
                            name="lucide:book-text"
                            size={16}
                            class="text-neutral-400"
                        />
                        <p class="text-neutral-400">
                            {
                                new Date(article.updatedAt).toLocaleString(
                                    'ja-JP',
                                    {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit',
                                    }
                                )
                            }
                        </p>
                    </div>
                </div>

                <a
                    tabindex="0"
                    href={article.booth
                        ? `https://booth.pm/ja/items/${article.booth}`
                        : undefined}
                    target="_blank"
                    class="group w-fit flex flex-col gap-2 focus-visible:outline-none"
                >
                    {
                        article.thumbnail && (
                            <Image
                                src={article.thumbnail.url}
                                alt={article.title.en}
                                width="256"
                                height="256"
                                loading="eager"
                                class="w-[256px] object-cover"
                            />
                        )
                    }

                    {
                        article.booth && (
                            <div class="flex gap-3 items-center">
                                <Icon
                                    name="booth"
                                    size={20}
                                    class="text-neutral-400 group-hover:text-red-400 group-focus-visible:text-[#fc4d50] transition duration-200 ease-in-out"
                                />
                                <span class="text-neutral-400 group-hover:text-red-400 group-focus-visible:text-red-400 transition duration-200 ease-in-out">
                                    BOOTH 販売ページ
                                </span>
                                <Icon
                                    name="lucide:arrow-up-right"
                                    size={16}
                                    class="text-red-400 opacity-0 translate-x-[-1rem] group-hover:opacity-100 group-hover:translate-x-0 group-focus-visible:opacity-100 group-focus-visible:translate-x-0 transition-all duration-200 ease-in-out"
                                />
                            </div>
                        )
                    }
                </a>
            </div>

            <div class="gap-12 flex flex-col">
                {
                    article.description && (
                        <div class="gap-5 flex flex-col">
                            <h2 class="text-2xl font-bold">説明</h2>
                            <p class="pl-1 whitespace-pre-line text-neutral-200">
                                {article.description}
                            </p>
                        </div>
                    )
                }

                {
                    () => {
                        if (article.contents && article.contents.length) {
                            const contents = (
                                <div class="gap-5 flex flex-col">
                                    <h2 class="text-2xl font-bold">内容</h2>
                                    <ul class="pl-1 gap-4 flex flex-col text-neutral-200">
                                        {article.contents.map((content) => (
                                            <li class="gap-2 flex flex-col">
                                                <div class="h-4 gap-2 flex items-center">
                                                    <span class="leading-none text-neutral-500">
                                                        //
                                                    </span>
                                                    <p class="text-sm leading-none">
                                                        {content.name}
                                                    </p>
                                                    {content.type && (
                                                        <div class="px-3 py-1.5 rounded-full text-xs leading-none bg-neutral-600">
                                                            {content.type}
                                                        </div>
                                                    )}
                                                </div>
                                                {content.description && (
                                                    <p class="pl-5 text-sm text-neutral-400 leading-none">
                                                        {content.description}
                                                    </p>
                                                )}
                                            </li>
                                        ))}
                                    </ul>
                                </div>
                            );
                            return contents;
                        }
                    }
                }

                {
                    details && (
                        <div class="w-auto gap-5 flex flex-col">
                            <h2 class="text-2xl font-bold">データの詳細</h2>
                            <ul class="pl-1 gap-4 flex flex-col text-neutral-200">
                                {details.map((detail) => (
                                    <li class="gap-3 flex flex-col">
                                        {detail.model && (
                                            <h3 class="text-xl font-bold">
                                                {detail.model}
                                            </h3>
                                        )}

                                        <ul class="gap-10 flex flex-col">
                                            <ul class="gap-4 flex flex-col">
                                                {detail.detail.map((item) => (
                                                    <li class="gap-2 flex items-center">
                                                        <span class="leading-none text-neutral-500">
                                                            //
                                                        </span>
                                                        <p class="leading-none">
                                                            {item.name}
                                                        </p>
                                                        <div class="grow h-px bg-neutral-600" />
                                                        <p class="text-right font-bold whitespace-pre-line">
                                                            {item.value}
                                                        </p>
                                                    </li>
                                                ))}

                                                {() => {
                                                    if (
                                                        detail.shapekeys &&
                                                        detail.shapekeys.length
                                                    )
                                                        return (
                                                            <li class="gap-4 flex flex-col">
                                                                <div class="gap-2 flex items-center">
                                                                    <span class="leading-none text-neutral-500">
                                                                        //
                                                                    </span>
                                                                    <p class="leading-none">
                                                                        シェイプキー
                                                                    </p>
                                                                </div>
                                                                <div class="flex">
                                                                    <div class="h-auto w-px mx-5 bg-neutral-600" />
                                                                    <ul class="gap-3 flex flex-col">
                                                                        {detail.shapekeys.map(
                                                                            (
                                                                                shapekey
                                                                            ) => (
                                                                                <li class="gap-1 flex flex-col">
                                                                                    <div class="gap-1 flex items-center">
                                                                                        <Icon
                                                                                            name="lucide:dot"
                                                                                            class="text-neutral-400"
                                                                                        />
                                                                                        <p class="text-sm leading-none">
                                                                                            {
                                                                                                shapekey.name
                                                                                            }
                                                                                        </p>
                                                                                    </div>

                                                                                    <p class="pl-5 text-sm text-neutral-400">
                                                                                        {
                                                                                            shapekey.description
                                                                                        }
                                                                                    </p>
                                                                                </li>
                                                                            )
                                                                        )}
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        );
                                                }}
                                            </ul>

                                            {detail.notes && (
                                                <li class="flex flex-col">
                                                    <h3 class="text-lg font-bold text-neutral-100">
                                                        特記事項
                                                    </h3>
                                                    <HTML
                                                        client:load
                                                        html={detail.notes}
                                                        class="text-sm pl-5"
                                                    />
                                                </li>
                                            )}
                                        </ul>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    )
                }

                {
                    () => {
                        if (article.packages && article.packages.length) {
                            const contents = (
                                <div class="gap-5 flex flex-col">
                                    <h2 class="text-2xl font-bold">
                                        パッケージ
                                    </h2>
                                    <div class="pl-1">
                                        <Table
                                            data={{
                                                headers: [
                                                    {
                                                        key: 'name',
                                                        label: 'パッケージ',
                                                    },
                                                    {
                                                        key: 'version',
                                                        label: '制作時のバージョン',
                                                    },
                                                    {
                                                        key: 'annotation',
                                                        label: '注釈',
                                                    },
                                                ],
                                                rows: article.packages,
                                            }}
                                        />
                                    </div>
                                </div>
                            );
                            return contents;
                        }
                    }
                }

                {
                    article.usage && (
                        <div class="gap-2 flex flex-col">
                            <h2 class="text-2xl font-bold">利用方法</h2>
                            <div class="pl-1 text-neutral-200">
                                <HTML client:load html={article.usage} />
                            </div>
                        </div>
                    )
                }
            </div>
        </div>
    </Article>
</Main>
