---
import { twMerge } from 'tailwind-merge';
import { Icon } from 'astro-icon/components';

const { label, icon, iconSize, href, bold, trailing } = Astro.props;

let ICON = icon;
let ICON_SIZE = iconSize;
let newTab = false;

if (href)
    try {
        new URL(href);
        newTab = true;
    } catch {
        newTab = false;
    }

if (newTab && ICON === undefined) ICON = 'lucide:move-up-right';

if (ICON_SIZE === undefined) ICON_SIZE = 16;
---

<div class={`${trailing ? 'w-full' : 'w-fit'}`}>
    <a
        tabindex="0"
        href={href}
        target={newTab ? '_blank' : '_self'}
        class={twMerge(
            'py-1 px-2 rounded-md flex items-center gap-2',
            (() => {
                if (trailing) return 'justify-between';
            })(),
            'text-neutral-400 hover:text-neutral-200 focus-visible:bg-neutral-800',
            'ring-inset focus-visible:ring-1 ring-neutral-7 focus-visible:outline-none',
            'transition duration-150 ease-in-out'
        )}
    >
        <!-- {ICON && !trailing && <span class={`${ICON} ${ICON_SIZE}`} />} -->
        {ICON && !trailing && <Icon name={ICON} size={ICON_SIZE} />}
        <p
            class={`${bold ? 'text-md font-bold text-neutral-100' : 'text-sm font-normal'}`}
        >
            {label}
        </p>

        {ICON && trailing && <Icon name={ICON} size={ICON_SIZE} />}
    </a>
</div>
